<div class="users-index">
  <h2> Current Users </h2>
  {{#each model as |user|}}
    {{#if user.id}}
      <p>
        {{#link-to 'users.show' user}}
           {{user.firstName}} {{user.lastName}}
        {{/link-to}}
      </p>
      <a href="#" {{action "delete" user}}> Delete</a> |
      {{link-to "Edit" "users.edit" user}}
    {{/if}}
  {{/each}}
</div>
{{outlet}}
